/*
Theme Name: WP-Starter
Theme URI: http://wpstarter.themeawesome.com/
Description: A child theme for WP-Forge
Author: Thomas E. Vasquez
Author URI: http://themeawesome.com/
Template: wp-forge
Version: v5.0.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, gray, white, one-column, two-columns, right-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: wpstarter
*/

/* Make sure to view the readme.txt file for proper installation. */

@import url("../wp-forge/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */