/*
Theme Name: WP-Starter
Theme URI: http://themeawesome.com/wordpress-child-theme
Description: A child theme for WP-Forge
Author: Thomas E. Vasquez
Author URI: http://themeawesome.com/
Template: wp-forge
Version: 3.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.1.html
Tags: light, gray, white, one-column, two-columns, right-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: wpstarter
*/