/*
Theme Name: WP-Starter
Theme URI: http://wpstarter.themeawesome.com/
Description: A child theme for WP-Forge
Author: Thomas E. Vasquez
Author URI: http://themeawesome.com/
Template: wp-forge
Version: v5.2.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, gray, white, one-column, two-columns, right-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: wpstarter
*/

@import url("../wp-forge/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */





/* =Media Queries
----------------------------------------------- */
@media only screen and (max-width: 40em) { /* max-width 640px, mobile-only styles, use when QAing mobile issues */
	}
@media only screen and (min-width: 40.063em) and (max-width: 64em) { /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
	}
@media only screen and (min-width: 64.063em) and (max-width: 90em) { /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
	}
@media only screen and (min-width: 90.063em) and (max-width: 120em) { /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
	}
@media only screen and (min-width: 120.063em) { /* min-width 1921px, xlarge screens */
	}